* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 350px;
    background-color: rgb(243, 242, 242);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    /* margin-bottom: 60px; */
    /* padding-bottom: 20px; */
}

button {
    text-align: center;
}

.forgetPassword {
    width: 100px;
}

#login {
    width: 250px;
    height: 40px;
    background-color: #166fe5;
    font-size: 20px;
    font-weight: bold;
}

#newAcnt {
    width: 200px;
    height: 40px;
    background-color: #42b72a;
    font-size: 17px;
    font-weight: bold;
    /* line-height: 48px; */
}

.form div {
    margin-bottom: 20px;
}

.form input {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

.form button {
    border-radius: 5px;
}

.forgetPassword {
    /* text-align: center; */
    margin-left: 90px;
    margin-top: 20px;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.nono {
    /* height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    opacity: 0.8;
    top: 0; */
    /* padding: 20px; */
}


/* newform ki css */

.newForm {
    width: 50%;
    height: 80%;
    margin: 0 auto;
    display: none;
}


/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
} */

h2 {
    color: #1877f2;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0e63ac;
}


/* .h1 {
    
} */